.main {
	text-align: center;
}

.main__errorMessage {
	color: #F00;
	font-weight: bold;
}

.main__table {
	margin: 0 auto;
	border: 1px solid #000;
}

.main__tableRow {
	border: 1px solid #000;
}

.main__tableHeader {
	border: 1px solid #000;
}

.main__tableData {
	border: 1px solid #000;
}

.main__toMenu {
	margin-top: 10px;
}